<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CF Stat - <%= title %></title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="stylesError.css" />
	</head>
	<body>
		<div id="notfound">
			<div class="notfound">
				<div class="notfound-404">
					<h1>404</h1>
					<h2><%= message %></h2>
				</div>
				<a href="/" class="go-home-btn">Homepage</a>
			</div>
		</div>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="db624fa450b80bbb9b86c994-text/javascript"></script>
		<script type="db624fa450b80bbb9b86c994-text/javascript">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-23581568-13');
		</script>
		<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="db624fa450b80bbb9b86c994-|49" defer=""></script>
	</body>
</html>
